@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Vertical phone block */
/* tables are not displayed, when phones are held in portrait. A prompt to turn the Device horizontally is shown */
@media screen and (max-width: 599px) {
  figure {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .overlay {
    display: none;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  figure {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-animation: rotate 1.5s ease-in-out infinite alternate;
          animation: rotate 1.5s ease-in-out infinite alternate;
}

.message {
  color: white;
  font-size: 1em;
  margin-top: 40px;
  font-family: sans-serif;
}

.center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .phone, .message {
    display: block;
  }
}

/* end of codeblock */
@media screen and (max-width: 320px) {
  table {
    display: none;
  }
}

@media screen and (min-device-width: 810px) and (max-device-width: 1080px) and (orientation: landscape) {
  body {
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-device-width: 810px) and (max-device-width: 1080px) and (orientation: portrait) {
  body {
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  body {
    width: 750px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1224px) {
  body {
    width: 850px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1824px) {
  body {
    width: 850px;
    margin: 0 auto;
  }
}

html {
  background-color: #fff;
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Spectral', serif;
  font-size: 1rem;
  line-height: 1.25rem;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.subtitle {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 1.25rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

h4 {
  font-weight: normal;
  font-size: 1.25rem;
}

p {
  font-weight: normal;
}

.question {
  font-style: italic;
  font-color: #fff;
}

article p {
  text-align: justify;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

table td, table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #f3fcff;
}

table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}

table tbody tr:hover {
  background-color: #c2c9cc;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: left;
}

table td.l, table th.l {
  text-align: right;
}

table td.c, table th.c {
  text-align: center;
}

table td.r, table th.r {
  text-align: center;
}

figure {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

figure figcaption {
  font-style: italic;
  font-size: 0.75;
}

figure figcaption p {
  margin: 0.1rem;
}

.table-name {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  font-weight: bold;
}

footer {
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 15%;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */