@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@media screen and (max-width: 320px) {
  table {
    display: none;
  }
}

@media screen and (min-device-width: 810px) and (max-device-width: 1080px) and (orientation: landscape) {
  body {
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-device-width: 810px) and (max-device-width: 1080px) and (orientation: portrait) {
  body {
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  body {
    width: 750px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1224px) {
  body {
    width: 850px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1824px) {
  body {
    width: 850px;
    margin: 0 auto;
  }
}

html {
  background-color: #fff;
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Spectral', serif;
  font-size: 1rem;
  line-height: 1.25rem;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.subtitle {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 1.25rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
  padding-top: 60px;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
  padding-top: 60px;
}

h4 {
  font-weight: normal;
  font-size: 1.25rem;
}

p {
  font-weight: normal;
}

.question {
  font-style: italic;
  font-color: #fff;
}

article p {
  text-align: justify;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

table td, table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #f3fcff;
}

table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}

table tbody tr:hover {
  background-color: #c2c9cc;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: left;
}

table td.l, table th.l {
  text-align: right;
}

table td.c, table th.c {
  text-align: center;
}

table td.r, table th.r {
  text-align: center;
}

figure {
  margin-top: 2rem;
  padding: 25px 0;
  margin-bottom: 1rem;
}

figure figcaption {
  font-style: italic;
  font-size: 0.75;
}

figure figcaption p {
  margin: 0.1rem;
}

.table-name {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  font-weight: bold;
}

footer {
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 25%;
  margin-bottom: 10px;
}

section {
  display: inline-block;
}

nav {
  margin: 25px 0;
  width: 100%;
  font-family: sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0077C2;
  border-radius: 4px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #009cff;
}
/*# sourceMappingURL=style.css.map */